<% content_for :title do %> 
  User details: <%= @user.name %>
<% end %>

<% @user.stripe_info.each do |key, value| %>
  <li><strong><%= key %></strong>: <%= value %></li>
<% end %>

<% content_for :footer do %> 
  <%= link_to 'Back', admin_users_path %>
<% end %>